.item-container {
  display: flex;
  /* background: orange; */
  /* flex-wrap: wrap; */
  /* box-sizing: none; */
  font-family: 'Gilroy-medium';
}

.item-image {
  /* margin-right: 40px; */
  /* width: 4000px; */
  /* width: 1500px; */
  display: flex;
  align-items: center;
}

.item-image img {
  width: 400px;
  margin-right: 20px;
  /* margin: auto; */
}

.item-content {
  border-left: 2px solid #f1f1f1;
  padding-left: 50px;
  padding-top: 20px;
  width: 500px;
}

.item-title h2{
  font-size: 22px;
  /* padding-bottom: 10px; */
  font-family: 'Gilroy-medium';
}

.item-price h3 {
  font-size: 36px;
  color: #00a650;
  padding-top: 10px;
  padding-bottom: 20px;
}

.item-description {
  font-size: 14px;
  font-weight: normal;
}

.item-description p{
  text-align: justify;
  font-size: 15px;
}

.ui.rating {
  margin-top: 20px;
}

.tags {
  margin: 20px 0;
}

.tag {
  border-radius: 4px;
  color: #000;
  font-size: 13px;
  font-weight: lighter;
  padding: 5px 8px;
}

.tag.tag-stock {
  color: #089900;
  background-color: #5fff6e;
}

.tag.tag-no-stock {
  color: #800000;
  background-color: #ff5a5a;
}