.item-detail-container {
  /* height: 1000px; */
  min-height: 100vh;
}

.itemDetail {
  background: white;
  padding: 20px;
  border-radius: 5px;

}

.wrapper {
  /* background: red; */
  /* padding: 50px; */
}

.item-detail-container {
   /* display: flex; */
  /* flex-direction: column;  */
  /* background: white; */

}

/* .item-detail-container h2 {
  font-size: 22px;
} */

.item-detail-container h3 {
  /* text-align: center;
  margin-left: 70px; */
  /* font-size: 25px; */
}

.buttons-compra {
   display: flex;

  justify-content: center;
  /* justify-content: space-evenly; */
  /* margin: 20px; */
  margin-left: 100px;
}

.buttons-compra .button-cancelar-container,
.button-finalizar-container {
  display: flex;
  justify-content: center;
  width: 30%;
}

.buttons-compra .button-finalizar {
  width: 100% !important;
  height: 50px !important;
  font-weight: bold !important;
  color: #31d622 !important;
  background-color: #fff !important;
  border: 2px solid #31d622 !important;
  border-radius: 30px !important;
  /* margin-left: 100px !important; */
  text-transform: uppercase !important;
  font-family: sans-serif !important;

  margin: 0 !important;
  margin-top: 20px !important;
  /* margin-right: 20px !important; */
}

.buttons-compra .button-cancelar {
  width: 50% !important;
  height: 50px !important;
  font-weight: bold !important;
  color: #c90e0e !important;
  background-color: #fff !important;
  border: 2px solid #c90e0e !important;
  border-radius: 30px !important;
  /* margin-left: 100px !important; */
  text-transform: uppercase !important;
  font-family: sans-serif !important;
}

.buttons-compra .button-finalizar:hover,
.button-cancelar:hover {
  background-color: rgba(245, 245, 245, 1) !important;
  transition: all 0.4s !important;
}
