.ui.inline.loader {
  margin-top: 300px !important;
}

.card {
  display: flex !important;
  justify-content: space-evenly;
  margin: 50px;
  /* flex-direction: column; */
  /* height: 400px; */
}

.ui.card {
  margin: auto !important;
  /* cursor: pointer; */
  height: 500px;
}

.ui.card .image {
  height: 60%;
  background: #fff !important;
  display: flex !important;
}

.ui.card .image img {
  width: 80% !important;
  margin: auto;
}

.ui.card .content {
  height: 30%;
  padding: 2em 1em !important;
}

.description {
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.description > a {
  text-align: center;
}

.ui.card .description p {
  font-size: 17px;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}

.description .ui.teal.button {
  margin: auto !important;
  width: 50%;
  padding: 0;
}

button a,
button a:hover,
button a:active {
  color: white;
}
