@font-face {
  font-family: Gilroy-bold;
  src: url(./assets/fonts/gilroy-fonts/Gilroy-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-heavy;
  src: url(./assets/fonts/gilroy-fonts/Gilroy-Heavy.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-light;
  src: url(./assets/fonts/gilroy-fonts/Gilroy-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-medium;
  src: url(./assets/fonts/gilroy-fonts/Gilroy-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-regular;
  src: url(./assets/fonts/gilroy-fonts/Gilroy-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: #1ee2e7;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #17d0d5;
}

.center {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-color: transparent;
  background-color: #222;
}

.navbar .navbar-header {
  display: flex;
  align-items: center;
}

.navbar-header,
.menu {
  height: 100px;
}

.navbar .navbar-brand {
  font-family: Gilroy-bold;
  color: #1ee2e7;
  font-size: 2.2em;
  margin-left: 60px;
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  transition: all 0.9s;
}

.navbar .navbar-brand {
  font-family: Gilroy-bold, "Helvetica Neue", Helvetica, Arial, cursive;
  color: #1ee2e7;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active,
.navbar .navbar-brand.active {
  color: #fec503;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  transition: all 1.5s;
}

.navbar .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-default .navbar-toggle {
  border-color: #1ee2e7;
  background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1ee2e7;
}

.menu {
  display: flex;
  align-items: center;
  border-right: 1px solid #a5a3a5;
}

.menu li {
  list-style: none;
}

.menu li:last-child {
  padding-right: 20px;
}

.menu li a {
  text-transform: uppercase;
  font-family: Gilroy-regular;
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}

.menu li a:hover,
.menu li a:focus {
  outline: 0;
  background-color: #1ee2e7;
  border-radius: 3px;
}

.menu-carrito {
  display: flex;
  margin-right: 80px;
}

.carrito {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.carrito .icon {
  color: white;
  font-size: 20px;
}
